@using EvidentaMasini.Models
@model Car
@{
    ViewData["Title"] = "Details";

    <h2 class="text-info">Product Details</h2>
    <form asp-action="" method="post" enctype="multipart/form-data">
        <div class="p-4 rounded border row">
            <div asp-validation-summary="ModelOnly" class="text-danger">

            </div>
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="make"></label>
                    </div>
                    <div class="col-8">
                        <input type="hidden" asp-for="vin" />
                        <input asp-for="make" readonly="readonly" class="form-control" />
                    </div>
                    <span asp-validation-for="make" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="tip"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="tip" readonly="readonly" class="form-control" />
                    </div>
                    <span asp-validation-for="tip" class="text-danger"></span>
                </div>                
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="model"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="model" readonly="readonly" readonly="readonly" class="form-control" />
                    </div>
                    <span asp-validation-for="model" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="carCombustionId"></label>
                    </div>
                    <div class="col-8">
                        @*<select asp-for="ProductTypeId" asp-items="ViewBag.productTypeId" class="form-control"></select>*@
                        <input asp-for="carCombustionId" readonly="readonly" class="form-control" />
                    </div>
                    <span asp-validation-for="carCombustionId" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="capacity"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="capacity" readonly="readonly" readonly="readonly" class="form-control" />
                    </div>
                    <span asp-validation-for="capacity" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="weight"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="weight" readonly="readonly" readonly="readonly" class="form-control" />
                    </div>
                    <span asp-validation-for="weight" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="color"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="color" readonly="readonly" readonly="readonly" class="form-control" />
                    </div>
                    <span asp-validation-for="color" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="power"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="power" readonly="readonly" readonly="readonly" class="form-control" />
                    </div>
                    <span asp-validation-for="power" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="civ"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="civ" readonly="readonly" readonly="readonly" class="form-control" />
                    </div>
                    <span asp-validation-for="civ" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="plates"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="plates" readonly="readonly" readonly="readonly" class="form-control" />
                    </div>
                    <span asp-validation-for="plates" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="owner"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="owner" readonly="readonly" readonly="readonly" class="form-control" />
                    </div>
                    <span asp-validation-for="owner" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="registration"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="registration" readonly="readonly" readonly="readonly" class="form-control" />
                    </div>
                    <span asp-validation-for="registration" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="revision"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="revision" readonly="readonly" readonly="readonly" class="form-control" />
                    </div>
                    <span asp-validation-for="revision" class="text-danger"></span>
                </div>

                
                <div class="form-group">
                    <a type="button" asp-action="Edit"  asp-route-id="@Model.vin" class="btn btn-primary" >Edit</a>
                    <a asp-action="Index" class="btn btn-success">Back to List</a>
                </div>
            </div>
            

        </div>
    </form>
}


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

